html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background: grey;
}

header {
    background: grey;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

header a, footer a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

header a:hover {
    text-decoration: underline;
}

header a:first-child {
    margin-left: 0;
}