html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    overflow-y: scroll;
}

img {
    width: 100%;
    height: 100%;
}

.gutter-sizer {
    width: 10px;
}

.grid {
    margin: 10px 0 10px 10px;
}

.artwork, .grid-sizer {
    width: calc(100% / 6 - 10px);
    margin-bottom: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination > li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}