

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    max-height: 80vh;
    max-width: 95vw;
    object-fit: contain;
}

.favorite-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    opacity: 0.2;
    background-image: url("/static/heart-regular.svg"), url("/static/heart-solid.svg");
    background-color: black, white;
    width: 26px;
    height: 26px;
}

.favorite-icon.favorited {
    opacity: 1;
}

.favorite-icon:hover {
    opacity: 1;
}

#favorite_status {
    width: 32px;
}

h1 {
    word-break: normal;
}

section {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    opacity: 0;
    transition: opacity 200ms;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.artwork {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px #bbb;
    transition: all 200ms; 
}

.artwork > img {
    pointer-events: none;
}

.artwork:hover > section {
    opacity: 1;
}

section.show {
    opacity: 1;
}