<script type="text/javascript" src="{{ url_for('static', filename='js/header.js') }}"></script>
<header>
    <div class="links">
        <a href="/">Random Image</a>
        <a href="/favorites">Favorites</a>
    </div>
    <div class="search">
        <form>
            <input id="search_input" type="text" placeholder="Search" />
            <button type="sub">Search</button>
        </form>
    </div>
</header>