<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1080, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav.ico') }}">
    <meta id="data" artwork_id="{{ id }}" artwork_title="{{ title }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/single_image.js') }}"></script>
</head>

<body>
    {% include 'header.html' %}
    <main>
        <div class="artwork">
            <div class="overlay"></div>
            <img id="artwork_image" src="data:image/jpg;base64, {{ image }}" title="{{ title }}" />
            <div class="favorite-icon {{ 'favorited' if favorited }}"></div>
            <section>
                <h1 id="title">{{ title }}</h1>
                <em id="year">{{ year }}</em>
                <h3>
                    <a id="artist_name" href="/artist/{{ artist_url }}">
                        {{ artist_name }}
                    </a>
                </h3>
            </section>
        </div>
    </main>
</body>

</html>