{% macro pagination(total_amount, current_page, base_url) -%}
<footer>
    {% with pages = (total_amount / 25)|round(0, 'ceil')|int %}
    <ol class="pagination">
        {% for page in range(current_page - 2, current_page + 3) %}
        {% if page < pages and page > 0 %}
        <li>
            {% if current_page == page %}
            {{ page }}
            {% else %}
            <a href="{{ base_url }}/page/{{ page }}/">
                {{ page }}
            </a>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ol>
    {% endwith %}
</footer>
{%- endmacro %}

{% macro artwork_grid(artworks) -%}
<div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    {% for artwork in artworks %}
    <div class="artwork">
        <a href="/artwork/{{ artwork.id }}/{{ artwork.title }}">
            <img src="data:image/jpg;base64, {{ artwork.image }}" />
        </a>
    </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro center_text(text) -%}
<div style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <p style="font-size: 24px">{{ text }}</p>
</div>
{%- endmacro %}