{% from "macros.html" import pagination, artwork_grid, center_text %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/list-view.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav.ico') }}">
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="{{ url_for('static', filename='js/layout_images.js') }}"></script>
</head>

<body>
    {% include 'header.html' %}
    {% if artworks|length == 0 %}
        {{ center_text('No search results were found') }}
    {% else %}
    {{ artwork_grid(artworks) }}
    {{ pagination(total_amount, current_page, base_url) }}
    {% endif %}
</body>

</html>